<div>
    <% if(success && success.length) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                
            </button>
        </div>
        <% } %>
</div>
<!-- alert for creating new makers only -->
<div>
    <% if(updated && updated.length) {%>

        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <%= updated %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                
            </button>
        </div>
        <% } %>
</div>
<!-- updated for the updating reviews -->
<div>
    <% if(thankyou && thankyou.length) {%>

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%= thankyou %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                
            </button>
        </div>
        <% } %>
</div>
<!-- thankyou alert for deleted revews -->
<div>
    <% if(deleted && deleted.length) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= deleted %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                
            </button>
        </div>
        <% } %>
</div>
<!-- deleted flash for deleting makers only -->
<div>
    <% if(error && error.length) {%>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">                
            </button>
        </div>
        <% } %>
</div>