<% layout('layouts/boilerplate')%>
    <div id="cluster-map"></div>
    <div class="container">
        <h1 class="pHeading">Cheesemakers</h1>
        <% for (let maker of makers){%>
            <%if(maker.makertype.toLowerCase()=='wine maker' ) {%>
                <%} else {%>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <%if(maker.images.length) {%>
                                    <img class="img-fluid" src="<%=maker.images[0].url %>" alt="Cheesemaker">
                                    <% }else if(maker.makertype.toLowerCase()=='cheese maker' ) {%>
                                        <img class="img-fluid"
                                            src="https://res.cloudinary.com/dceyz9gtp/image/upload/v1622038145/winecheeseapp/mp24fvxknr4yvp2yvqfs.jpg"
                                            alt="Cheesemaker">
                                        <% } else {%>
                                            <img class="img-fluid"
                                                src="https://res.cloudinary.com/dceyz9gtp/image/upload/v1620262809/winecheeseapp/geyzdkwm9efalxq1wepn.jpg"
                                                alt="Winemaker">
                                            <%}%>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h1 class="card-title">
                                        <%=maker.makername%>
                                    </h1>
                                    <p class="card-text">
                                        <%=maker.description%>
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            <%=maker.city%>,
                                                <%=maker.state%>
                                        </small>
                                    </p>
                                    <a class="btn btn-success" href="/makers/<%=maker._id%>">View <%=maker.makername%>
                                            </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <%}%>
                        <% } %>
    </div>

    <script>       
        const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
        const makers = { features: <%- JSON.stringify(makers) %>}
    </script>

    <script src="/javascripts/clusterMap.js"></script>